/* Minimal CSS Reset from https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

img {
  max-width: 100%;
  height: auto;
}

/* Custom Global Styles */
body {
  font-family: 'Libre Franklin', sans-serif;
}

li {
  margin-bottom: 0.5rem;
}
